@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fira+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
 
}
html{
scroll-behavior: smooth;
}
.container{
    background-color: 	#f8f2f4d6;
}

.sidebar{
    background-color: rgba(95, 83, 83, 0.9);
    width: 20vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;

}
.myname{
    color: #f5e4e6;
    margin: 0 24px;
    padding: 11px;
    display: flex;
   
}
.myname img{
    width: 49px;
    height: 29px;

}
.sidebar nav{
    padding: 63px;


}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
    flex-direction: row;
  
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
    
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.infoContainer{
 /* background-color: aquamarine; */
 height: 65vh;
 width: 80vw;
 margin:127px auto;
 justify-content: space-around;
 display: flex;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
font-size: 65px;
font-family: 'Jost', sans-serif;
}
.name{
font-size: 50px;
font-weight: bold;
font-family: 'Fira Sans', sans-serif;
}
.about{
font-size: 30px;
font-family: 'Jost', sans-serif;
}
.moreabout{
    font-size: 22px;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 16px;
}
.buttons{
    margin-top: 34px;
}
.btn{
margin: 10px;
border-radius: 22px;
padding: 8px;
background-color: rgba(27, 26, 25, 0.285);
border: 2px solid black;
cursor: pointer;
color: rgb(5, 6, 3);
font-weight: bold;
font-size: 21px;
}
.btn-sm{
    font-size: 14px;
    padding: 10px 14px;
    margin: 12px 0;
}
button:hover{
    background-color:#a39193;
    color:rgb(219, 205, 205);
}
.devpic img{
   height: 65vh;
}
/* education form  */
.educationinfo{
    /* height: 65vh; */
    width: 80vw;
    margin:127px auto;
    /* justify-content: space-around;
    display: flex; */
    padding:150px 10vw 10vw;
    min-height: 100vh;
}
.educationinfo h1{
    text-align: center;
    font-size: 4em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.academics{
    display: flex;
    align-items: center;
    margin-top: 3em;
    justify-content: space-around;
}
.academics h1{
    width: 50%;
    font-size: 3em;
    font-family: 'Jost', sans-serif;
}
.lists{
    border-left: 4px solid black;
}
.lists ul{
    flex-direction: column;
    list-style: none;
}
.lists ul li{
    padding: 1em 0 1em 1em;
}
p{
    font-size: 1.22em;
    margin-top: 1.2em;
}
span{
    font-size: 2em;
}
/* skills section  */
.skill_container{
  
    min-height: 100vh;
    /* display: ; */
    align-items: center;
}
.skill_container h1{
text-align: center;
font-size: 4em;
font-family: 'Fira Sans', sans-serif;
font-weight: 400;
padding-bottom: 1em;
}
.skills{
    grid-template-columns: auto auto auto;
    display: grid;
}
.btn_primary{
    padding: 20px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 7px;
    outline: none;
    transition: all 0.8s;
    margin-left: 20px;
}
/* projects  */
.projects{
    padding: 10vw;
    height: 150vh;
}

.projects h1{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
    font-family: 'Fira Sans', sans-serif;
}
.left{
    float: left;
    clear: both;
    border-radius: none;
}
.projects .left h1{
    text-align: left;
}
.projects .project_card h1{
    font-size: 2em;
}
p{
    font-size: 1.22em;
    margin-top: 1.2em;
}
.right{
    float: right;
    clear: both;
    border-left: none;
}
.project_card{
    width: 50%;
    border: 4px solid grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    transition: all 0.4s;
}
.projects .right h1 {
    text-align: right;
}
.projects .right h1{
    text-align: left;
}
.projects .project_card a{
    font-size: 1.2em;
    transition: all 0.3s;
    font-weight: 550;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: rgba(168, 78, 78, 0.662);
}
.project_card  a:hover{
    color: #861b28;
    transition: all 0.4s;
    border: 2px solid black;
    border-radius:0 5px;
}
.right a{
    margin-left: 10px;
}
/* CONTACT form  */
.contactform{
    height: 65vh;
    width: 90vw;
    margin:127px 53px;
    justify-content: space-around;
    display: flex;
}
.contactform h1{
    font-size: 44px;
    font-family: 'Fira Sans', sans-serif;
    margin: 15px 10px;
    padding: 15px;
    padding-bottom: 45px;
}
 .links{
  margin-top: 165px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 15px;
   justify-content: center;
   flex-direction: row;
   align-items: center;
}
.links a img{
    padding-left: 102px;
    padding-right: 10px;
align-items: center;
}
.contactform .imgback{
    height: 65vh;
    margin: 0 40px;

}
.contactform .para{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;

}
.contactinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* blog section  */
.blogdiv{
    height: 65vh;
    width: 100vw;
    margin:127zspx 53px;
    justify-content: space-around;
    display: flex;
}
.img_blog {
   margin-left:20rem;
    height: 65vh;
    width: 39vw;

}
.blogdiv h1{
    font-size: 44px;
    font-family: 'Fira Sans', sans-serif;
    margin: 10px 10px;
    padding: 15px;
    padding-bottom: 45px;
}
.bloglink{
    margin-top: 12px;
    text-align: center;
    padding-top: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;  
}

.bloglink a{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    font-size: 31px;
    color: rgb(66, 124, 209);
    font-weight: bold;

}
.bloglink a:hover{
color: #a39193;
}
.bloglink p{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 65px;
}
