/* Importing partials */
@import "./partials.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-main);
}

body{
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
}

.navbar{
  background: var(--grey);
  /*border-bottom: 2px solid var(--purple);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 6em;  
  position: fixed;
  top: 0%;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo > h2 {
  color: var(--dark);
  font-size: 2em;
  font-weight: 400;
}

.logo img {
  width: 150px;
  height: 150px;
}

.navbar nav ul {
  display: flex;
  list-style: none;  
}

.navbar > nav > ul > li > a {
  list-style: none;
  font-size: 1.1em;
  margin-left: 15px;
  color: var(--dark);
  text-decoration: none;
  padding: 10px 12px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

.navbar > nav > ul > li > a:hover {
  border-bottom: 1px solid var(--dark);
}



/* Intro section starts here */

.main {
  background-color: #f2f2f2;
  width: 100vw;
  padding: 2em 6em;
}

.infoContainer {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  margin-top: 7em;
}

.devinfo {
  width: 50%;
}
.hello {
  font-size: 4em;
}
.name {
  font-size: 4em;
  color: var(--dark);
}
.about {
  font-size: 2.2em;
  color: var(--dark);
}
.moreabout, .moreabout > span {
  font-size: 1.2em;
  margin-top: 1.1em;
}
.buttons {
  margin-top: 1.2em;
}
.btn {
  margin-right: 15px;
  border-radius: 22px;
  padding:  15px 25px;
  cursor: pointer;
  color: var(--light);
  font-size: 1.2em;
  outline: none;
  border: 2px solid var(--dark);
  background: var(--dark);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: all 0.2s;
}
.btn-secondary{
  background: #f2f2f2;
  border: 2px solid var(--dark);
  color: var(--dark);
}
.btn-sm {
  font-size: 14px;
  padding: 10px 14px;
  margin: 12px 0;
}
button:hover {
  background-color: #a39193;
  color: rgb(219, 205, 205);
}
.devpic img {
  height: 80vh;
  border-top-left-radius: 55px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
/* education form  */
.educationinfo {
  /* height: 65vh; */
  width: 80vw;
  margin: 127px auto;
  /* justify-content: space-around;
    display: flex; */
  padding: 150px 10vw 10vw;
  min-height: 100vh;
}
.educationinfo h1 {
  text-align: center;
  font-size: 4em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
.academics {
  display: flex;
  align-items: center;
  margin-top: 3em;
  justify-content: space-around;
}
.academics h1 {
  width: 50%;
  font-size: 3em;
  font-family: "Jost", sans-serif;
}
.lists {
  border-left: 4px solid black;
}
.lists ul {
  flex-direction: column;
  list-style: none;
}
.lists ul li {
  padding: 1em 0 1em 1em;
}
p {
  font-size: 1.22em;
  margin-top: 1.2em;
}
span {
  font-size: 2em;
}
/* skills section  */
.skill_container {
  min-height: 100vh;
  /* display: ; */
  align-items: center;
}
.skill_container h1 {
  text-align: center;
  font-size: 4em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  padding-bottom: 1em;
}
.skills {
  grid-template-columns: auto auto auto;
  display: grid;
}
.btn_primary {
  padding: 20px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 7px;
  outline: none;
  transition: all 0.8s;
  margin-left: 20px;
}
/* projects  */
.projects {
  padding: 10vw;
  height: 150vh;
}

.projects h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-family: "Fira Sans", sans-serif;
}
.left {
  float: left;
  clear: both;
  border-radius: none;
}
.projects .left h1 {
  text-align: left;
}
.projects .project_card h1 {
  font-size: 2em;
}
p {
  font-size: 1.22em;
  margin-top: 1.2em;
}
.right {
  float: right;
  clear: both;
  border-left: none;
}
.project_card {
  width: 50%;
  border: 4px solid grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: -4px;
  transition: all 0.4s;
}
.projects .right h1 {
  text-align: right;
}
.projects .right h1 {
  text-align: left;
}
.projects .project_card a {
  font-size: 1.2em;
  transition: all 0.3s;
  font-weight: 550;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: rgba(168, 78, 78, 0.662);
}
.project_card a:hover {
  color: #861b28;
  transition: all 0.4s;
  border: 2px solid black;
  border-radius: 0 5px;
}
.right a {
  margin-left: 10px;
}
/* CONTACT form  */
.contactform {
  height: 65vh;
  width: 90vw;
  margin: 127px 53px;
  justify-content: space-around;
  display: flex;
}
.contactform h1 {
  font-size: 44px;
  font-family: "Fira Sans", sans-serif;
  margin: 15px 10px;
  padding: 15px;
  padding-bottom: 45px;
}
.links {
  margin-top: 165px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.links a img {
  padding-left: 102px;
  padding-right: 10px;
  align-items: center;
}
.contactform .imgback {
  height: 65vh;
  margin: 0 40px;
}
.contactform .para {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}
.contactinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* blog section  */
.blogdiv {
  height: 65vh;
  width: 100vw;
  margin: 127zspx 53px;
  justify-content: space-around;
  display: flex;
}
.img_blog {
  margin-left: 20rem;
  height: 65vh;
  width: 39vw;
}
.blogdiv h1 {
  font-size: 44px;
  font-family: "Fira Sans", sans-serif;
  margin: 10px 10px;
  padding: 15px;
  padding-bottom: 45px;
}
.bloglink {
  margin-top: 12px;
  text-align: center;
  padding-top: 10px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.bloglink a {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  font-size: 31px;
  color: rgb(66, 124, 209);
  font-weight: bold;
}
.bloglink a:hover {
  color: #a39193;
}
.bloglink p {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 65px;
}
